<%= form_with(model: tittle) do |form| %>
  <% if tittle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tittle.errors.count, "error") %> prohibited this tittle from being saved:</h2>

      <ul>
        <% tittle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
